@model ConsoleApp1.Club

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Club</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClubName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubID)
        </dd>
    </dl>
</div>
<div class="col-md-4">
    @if (!string.IsNullOrEmpty(Model.ImagePath))
    {
        <img src="@Url.Content("~/images/" + Model.ImagePath)" class="image-preview" alt="Dinosaur Image" />
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClubID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
