@model IEnumerable<ConsoleApp1.SF>

@{
    ViewData["Title"] = "Sportsmen and fights";
}

<h1>Sportsmen and fights</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sportsman)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FightID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SportsmanID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> ||
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
