@model ConsoleApp1.Refeere

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Refeere</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthsdayDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthsdayDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RefeereID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RefeereID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RefeereID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
