@model IEnumerable<ConsoleApp1.Refeere>

@{
    ViewData["Title"] = "Refeeres";
}

<h1>Refeeres</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthsdayDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthsdayDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RefeereID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RefeereID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RefeereID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
