@model ConsoleApp1.Sportsman

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sportsman</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthsdayDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthsdayDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Club)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Club.ClubID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Achivments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Achivments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeGroup)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SportsmanID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SportsmanID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Club)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SportsmanID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
